{% extends "layout.html" %}
{% block title%}Absence{% endblock %}
{% block body%}
<form method="post" action="/absence">
    <div class="input">
        <input class="text-input" placeholder="Nom" type="text" name="Nom">
        <input class="text-input" placeholder="Prénom" type="text" name="Prenom">
        <div>Date de début:</div>
        <input type="date" name="DateD" placeholder="Date de début">
        <div>Date de fin:</div>
        <input type="date" name="DateF" placeholder="Date de fin">
        <input type="text" name="Motif" placeholder="Motif">
    </div>
    
    <div class="input-radio">
        <div>Justifié</div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Genre" id="Etablissement" value="Oui" checked>
            <label class="form-check-label" for="Etablissement">
                Oui
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="Genre" id="Employeur" value="Non">
            <label class="form-check-label" for="Employeur">
                Non
            </label>
        </div>
    </div>
  <div class="submit-container">
        <input class="btn btn-primary" type="submit" value="Ajouter">
  </div>
</form>
{% endblock %}